.bb-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(44, 42, 57, 0.3);
    z-index: 99999999999999;
}
.bb-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.bb-loading-text {
    position: absolute;
    bottom: -14px;
    left: 50%;
    transform: translateX(-50%);
    color: #FFF;
}